<!-------------------- HEADER PAGE -------------------->
<ion-header>
    <ion-navbar>
        <ion-title>
        Meus Clientes
        </ion-title>
    </ion-navbar>
</ion-header>
<!-------------------- HEADER PAGE -------------------->


<!-------------------- BODY PAGE -------------------->
<ion-content padding id="pageClients">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input placeholder="Buscar cliente..."></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="clients?.length <= 0">
            <ion-col>
                <div class="alert alert-warning text-center">
                    Nenhum Cliente Encontrado!
                </div>
            </ion-col>
        </ion-row>

        <!--- BOX CLIENT--->
        <ion-row *ngFor="let client of clients">
            <ion-col>
                <section class="box-client">
                    <ion-title>{{ client.name }}</ion-title>
                    <article>
                        {{ client.cpf }} -
                        {{ client.birthdate }}
                    </article>
                    <section class="controls">
                        <ion-icon ios="ios-create" md="md-create" (click)="modalUpdate(client)"></ion-icon>
                        <ion-icon ios="ios-trash" md="md-trash" (click)="delete(client.id)"></ion-icon>
                    </section>
                </section>
            </ion-col>
        </ion-row>
        <!--- BOX CLIENT--->

        <!--- FAB CLIENT--->
        
        <!--- FAB CLIENT--->

    </ion-grid>
        
    <!--- FAB CLIENT--->
    <ion-fab bottom right #fab>
        <button ion-fab (click)="modalAdd()">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
    </ion-fab>
    <!--- FAB CLIENT--->

</ion-content>
<!-------------------- BODY PAGE -------------------->
