page-clients {

    #pageClients {
        background-color: #f9f9f9 !important;
    }

    .box-client {
        background-color: #FFF;
        box-shadow: 0 5px 22px rgba(122, 122, 122, .3);
        padding: 20px;
        border-radius: 7px;
        margin: 10px 0 10px 0;

        ion-title.title div {
            color: tomato !important;
            font-weight: normal;
            letter-spacing: 2px;
        }

        article {
            margin-top: 25px;
        }

        .controls {
            text-align: right;
            font-size: 1.5em;
            letter-spacing: 10px;
            color: #666;
        }
    }

}
